# Email Configuration (for contact form)
MY_EMAIL=
MY_PASSWORD=

# Supabase / Database Configuration
DATABASE_URL="postgresql://postgres.[YOUR-SUPABASE-PROJECT]:[YOUR-PASSWORD]@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Supabase Storage Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Environment
NODE_ENV=development